
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: Circular Std;
  scroll-behavior: smooth;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/circular/CircularStd-Bold.otf'),
    url('/assets/fonts/circular/CircularStd-Bold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/circular/CircularStd-Black.otf'),
    url('/assets/fonts/circular/CircularStd-Black.otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/circular/CircularStd-Book.otf'),
    url('/assets/fonts/circular/CircularStd-Book.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/circular/CircularStd-Medium.otf'),
    url('/assets/fonts/circular/CircularStd-Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url('/assets/fonts/circular/CircularStd-Light.otf'),
    url('/assets/fonts/circular/CircularStd-Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
